<div class="col-12" style="margin-top: 35px; margin-bottom: 20px;">
  <h2 class="text-center">Chat</h2>
  <form class="card">
    <div class="card-header container-fluid">
      <div class="row">
        <div class="col-2" id="img-chat"></div>
        <div class="col-8" id="name-chat"></div>
      </div>
    </div>
    <div class="card-body" id="chat-text" style="height: 300px; overflow-y: scroll">
    </div>
    <div class="card-footer text-muted">
      <div class="input-group mb-3">
        <textarea
          type="text"
          class="form-control"
          id="chat-mensaje"
          aria-describedby="button-addon2"></textarea>
        <button
          class="btn btn-outline-secondary"
          type="button"
          onclick="sendMenssaje()"
          id="button-addon2">
          Enviar
        </button>
      </div>
      <div class="text-center" id="compression-level"></div>
    </div>
  </form>
</div>
