<div class="col-12" style="margin-top: 35px; margin-bottom: 20px;">
  <h2 class="text-center">Chat</h2>
  <form class="card">
    <div class="card-header">
      <div class="input-group">
        <span class="input-group-text" id="basic-addon1">@</span>
        <input
          type="email"
          class="form-control"
          placeholder="Email del Usuario"
          aria-label="Email del Usuario"
          id="chat-mail"
          aria-describedby="basic-addon1"
          required />
      </div>
    </div>
    <div class="card-body" id="chat-text" style="height: 300px; overflow-y: scroll">
    </div>
    <div class="card-footer text-muted">
      <div class="input-group mb-3">
        <textarea
          type="text"
          class="form-control"
          id="chat-mensaje"
          aria-describedby="button-addon2"></textarea>
        <button
          class="btn btn-outline-secondary"
          type="button"
          onclick="sendMenssaje()"
          id="button-addon2">
          Enviar
        </button>
      </div>
    </div>
  </form>
</div>
