<div class="container">
    <div class="row">
        <div class="alert alert-danger text-center" role="alert">
            <h2>Upss!</h2>
            <p>Lamentablemente ocurrio un error durante un inicio de sesion</p>
            <p>Te recomendamos chequear todos tus datos, y volver a intentarlo. En caso de que el error persista comunicate con nuestro Staff</p>
            <p><br/></p>
            <p><a href="/login/">Volver a intentar</a></p>
        </div>
    </div>
</div>