<div class="container">
  <div class="row">
    <div class="col-md-4" style="margin-top: 35px;">

      <h2 class="text-center" style="margin-bottom: 20px">
        Agregar Producto
      </h2>

      <form class="" action="/productos" method="POST">
        <label for="nombre" class="form-label">Nombre</label>
        <input
          class="form-control"
          type="text"
          name="nombre"
          id="nombre" value="" />

        <label for="precio" class="form-label">Precio</label>
        <input
          class="form-control"
          type="number"
          name="precio"
          id="precio"
          value="" />

        <label for="imange" class="form-label">Imagen URL</label>
        <input
          class="form-control"
          type="text"
          name="imagen"
          id="imagen"
          value="" />

        <div class="container">
          <div class="row">
            <button
              class="btn btn-primary col-12 text-center"
              style="margin-top: 30px;"
              type="submit">
              Enviar
            </button>
          </div>
        </div>

      </form>

    </div>

    {{> productstable}}

  </div>
</div>
