<div class="container" style="margin-top:20px; margin-bottom:20px;">
  <div class="row">

    <div class="col-md-1"></div>
    <div class="col-md-12 container-fluid">
      <div class="row">
        <div class="col-md-4" id="login-img"></div>
        <div class="col-md-8 container cont-log">
          <form class="row" action="/api/register/" method="post">
            <h1 class="text-center">Registro</h1>
            <div class="col-6">
              <div class="input-group">
                <span class="input-group-text" id="basic-addon1"><i class="fa fa-user-circle" aria-hidden="true"></i></span>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Email del Usuario"
                  aria-label="Email del Usuario"
                  id="name"
                  name="name"
                  aria-describedby="basic-addon1"
                  required />
              </div>
            </div>
            <div class="col-6">
              <div>
                <span class="input-group-text" id="basic-addon1"><i class="fa fa-user-circle-o" aria-hidden="true"></i></span>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Email del Usuario"
                  aria-label="Email del Usuario"
                  id="lastname"
                  name="lastname"
                  aria-describedby="basic-addon1"
                  required />
              </div>
            </div>
            <div class="input-group">
              <span class="input-group-text" id="basic-addon1">@</span>
              <input
                type="email"
                class="form-control"
                placeholder="Email del Usuario"
                aria-label="Email del Usuario"
                id="mail"
                name="username"
                aria-describedby="basic-addon1"
                required />
            </div>
            <div class="input-group">
              <span class="input-group-text" id="basic-addon1">
                <i class="fa fa-key" aria-hidden="true"></i>
              </span>
              <input
                type="password"
                class="form-control"
                placeholder="Contraseña"
                aria-label="Contraseña"
                id="password"
                name="password"
                aria-describedby="basic-addon1"
                required />
            </div>
            <div class="input-group mb-3"></div>
              <button
                class="btn btn-outline-secondary btn-primary"
                type="submit"
                id="button-addon2">
                Enviar
              </button>
              <p class="text-center">Si ya tienes una cuenta puedes ingresar <a href="/login/">aqui</a></p>
          </form>

          </div>
        </div>
      </div>
    </div>
    <div class="col-md-1"></div>
    
  </div>
</div>

<style>
  .input-group{
    margin-top: 30px;
  }

  #login-img{
    background-image: url('https://s3.us-west-2.amazonaws.com/puntoapunto.com.ar/wp-content/uploads/2020/08/24124210/ecommerce.jpg');
    background-size: cover;
    background-position: center;
  }

  .cont-log{
    padding: 40px;
  }
</style>